<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<connectionStrings>
    <add name="CRM_String_Connection" connectionString="AuthType=AD;Url=https://acestage.acenet.edu/ACESTAGE; Domain=ACEINFO; Username=kbalmuri@acenet.edu; Password=SecureLine91#" />
  </connectionStrings>
</configuration>